.sellerLoginMainWraper {
  .header_banner {
    background-image: url("../../Assets/Banners/Desktop_sell.webp");
    padding: 5rem 4rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_banner h1 {
    font-size: 40px;
    font-weight: 600;
  }
}
