._productError {
  .form {
    label {
      font-weight: 500;
      font-size: 16px;
      margin-top: 15px;
    }
    .text {
      opacity: 0.5;
      border: 0.5px solid #1c1c1c;
      border-radius: 10px;
    }
    .error {
      font-size: 10px;
      color: #b22b27;
    }
    select {
      font-weight: 500;
      font-size: 14px;
      border-radius: 6px;
    }
    .checkbox {
      display: inline-block;
      float: right;
      margin-top: 15px;
  }
}
}
